<!DOCTYPE html>
<html>
    <head>
        <title>Download Chromium!</title>
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="The easiest way to download Chromium">
        <meta name="keywords" content="chromium,download,chrome,build,snapshot,francois,beaufort,alex313031">
        <link rel="canonical" href="https://download-chromium.appspot.com" />
        <meta itemprop="image" content="/thumb.png">
        <link rel="icon" type="image/png" href="/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/OpenSans.css">
        <link rel="stylesheet" type="text/css" href="/index.css">

        {% if platform %}
        <link rel="prerender" href="/dl/{{ platform.name }}?type={{ build_type }}">
        {% endif %}

    </head>
    <body>
        {% if platform %}
        <p id="header">
          This is a raw build of {{ platform.pretty_name }}, right off the trunk. It may be tremendously buggy.
          <br>
          <br>
        </p>
          <a style="text-decoration: none;" id="download" download="chromium.zip" href="/dl/{{ platform.name }}?type={{ build_type }}">
            <div class="button">
              <span>Download</span>&nbsp;<span>Chromium</span>
              <img id="logo" src="/logo.png" width="124px" height="124px"/>
            </div>
          </a>
          <small style="opacity:0" class="rev">Build Revision: <a rel="noopener" target="_blank" class="rev-num"></a> <span></span></small>
        {% else %}
        <p id="sorry">Sorry... Chromium doesn't exist yet for your platform.</p>
        <p id="chromeos" hidden>
          You're on Chrome OS! Excellent. You can optionally <a rel="noopener" target="_blank" href="https://support.google.com/chromebook/answer/1086915">switch between Stable, Beta, and Developer channels</a>.
          However, to install Chromium builds is much more <a rel="noopener" target="_blank" href="https://www.chromium.org/chromium-os/how-tos-and-troubleshooting/building-chromium-browser">involved</a>.
        </p>
        {% endif %}
        <p class="credits">
          <span>Created by <a rel="noopener me" target="_blank" href="https://github.com/beaufortfrancois">François Beaufort</a></span> &amp;
          <span>maintained by <a rel="noopener author" target="_blank" href="https://github.com/Alex313031/download-chromium">Alex313031</a></span> |
          <span><em><a rel="noopener" target="_blank" href="https://github.com/Alex313031/download-chromium/issues">File a bug report</a></em></span>
        </p>
        <footer>
          <!--
          {% if platform %}
          <div>
            <span>Build Types:</span>
          {% for b in build_types %}
            {% if platform.name == "Mac" and b.name == "continuous" %}
            {% else %}
            <a {% if b == build_type %}class="selected"{% endif %} href="?platform={{ platform }}&type={{ b }}">{{ b.pretty_name }}</a>
            {% endif %}
          {% endfor %}
          </div>
          {% endif %}
          -->
          <div class="platforms">
            <span><em>Supported Platforms:</em></span>
          {% for p in platforms %}
            <a {% if p == platform %}class="selected"{% endif %} href="?platform={{ p }}&type={{ build_type }}">{{ p.pretty_name }}</a>
          {% endfor %}
          </div>
        </footer>
        {% if platform %}
        <div id="social"><g:plusone size="tall" annotation="inline"></g:plusone></div>
      <script>
        var DURATION_IN_SECONDS = {
          epochs: ['year', 'month', 'day', 'hour', 'minute'],
          year:   31536000,
          month:  2592000,
          day:    86400,
          hour:   3600,
          minute: 60
        };

        function getDuration(seconds) {
          var epoch, interval;

          for (var i = 0; i < DURATION_IN_SECONDS.epochs.length; i++) {
            epoch = DURATION_IN_SECONDS.epochs[i];
            interval = Math.floor(seconds / DURATION_IN_SECONDS[epoch]);
            if (interval >= 1) {
              return { interval: interval, epoch: epoch };
            }
          }

        };

        function timeSince(date) {
          var seconds = Math.floor((new Date() - new Date(date)) / 1000);
          var duration = getDuration(seconds);
          var suffix  = (duration.interval > 1 || duration.interval === 0) ? 's' : '';
          return duration.interval + ' ' + duration.epoch + suffix + ' ago';
        };

        if (window.fetch){
            fetch("/rev/{{ platform.name }}?type={{ build_type }}").then( response => {
                if (response.status !== 200) {
                    return;
                }
                var msg = document.querySelector('small.rev');
                msg.style.opacity = 1;
                response.json().then( rev => {
                    var link = msg.querySelector('a');
                    link.textContent = rev.content;
                    link.href = "https://crrev.com/" + rev.content;
                    msg.querySelector('span').textContent = '| Updated ' + timeSince(rev['last-modified']);
                });
            });
        }
    </script>
        {% else %}
    <script>
        if (/\bCrOS\b/.test(navigator.userAgent)) {
            // User is probably on Chrome OS. Let's add some details then.
            document.querySelector('#chromeos').hidden = false;
        }
    </script>
        {% endif %}
    </body>
</html>
